<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="/stylesheets/register.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand" href="/">Hello</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mobile-nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/profile/all/<%= user._id %>"> Profiles</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/dashboard/<%= user._id%>">Dashboard</a></li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">
                                <img class="rounded-circle" src="<%= user.avatar %>" alt="chirag" title="You must have a Gravatar connected to your email to display an image" style="width: 25px; margin-right: 5px;">Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h1 class="text-center text-white">Dashboard</h1>
                    <div>
                        <% if(profile) { %> 
                            <p class="lead text-white">Welcome, <a href="/profile/<%= profile._id%>" class="text-white" target="_blank"><%= user.firstname %></a></p>    
                            <div class="btn-group mb-4" role="group">
                                <a class="btn btn-light" href="/profile/edit/<%= profile._id %>">
                                    <i class="fas fa-user-circle text-info mr-1"></i>
                                    Edit Profile
                                </a>
                                <a class="btn btn-light" href="/experience/<%= profile._id %>">
                                    <i class="fab fa-black-tie text-info mr-1"></i>
                                    Add Experience
                                </a>
                                <a class="btn btn-light" href="/education/<%= profile._id %>">
                                    <i class="fas fa-graduation-cap text-info mr-1 mr-1"></i>
                                    Add Education
                                </a>
                            </div>
                    </div>
                    <div>
                        <h4 class="mb-4 text-white">Experience</h4>
                        <table class="table h6 bg-light">
                            <thead>
                                <tr>
                                  <th scope="col">Company</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Years</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <% profile.experience.forEach(function(exp) { %>
                                    <tr>
                                        <td><%= exp.company %></td>
                                        <td><%= exp.title %></td>
                                        <td>
                                            <time><%= new Date(exp.from).toLocaleDateString('en-GB', { year: 'numeric', month: 'numeric', day: 'numeric'})%></time> - 
                                            <time><%= new Date(exp.to).toLocaleDateString('en-GB', { year: 'numeric', month: 'numeric', day: 'numeric'})%></time>
                                        </td>
                                        <td>
                                            <form action="/experience/delete/<%= profile.user._id %>/<%= profile._id %>/<%= exp._id %>" method="post">
                                                <input type="submit" class="btn btn-danger" value="Delete">
                                            </form>
                                        </td>
                                        
                                    </tr>
                                  <% }) %>
                              </tbody>
                        </table>
                    </div>
                    <div>
                        <h4 class="mb-4 text-white">Education</h4>
                        <table class="table h6 bg-light">
                            <thead>
                                <tr>
                                  <th scope="col">School</th>
                                  <th scope="col">Degree</th>
                                  <th scope="col">Years</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <% profile.education.forEach(function(edu) { %>
                                    <tr>
                                        <td><%= edu.school %></td>
                                        <td><%= edu.degree %></td>
                                        <td>
                                            <time><%= new Date(edu.from).toLocaleDateString('en-GB', { year: 'numeric', month: 'numeric', day: 'numeric'})%></time> - 
                                            <time><%= new Date(edu.to).toLocaleDateString('en-GB', { year: 'numeric', month: 'numeric', day: 'numeric'})%></time>
                                        </td>
                                        <td>
                                            <form action="/education/delete/<%= profile.user._id %>/<%= profile._id %>/<%= edu._id %>" method="post">
                                                <input type="submit" class="btn btn-danger" value="Delete">
                                            </form>
                                        </td>
                                        
                                    </tr>
                                  <% }) %>
                              </tbody>
                        </table>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <form class="text-left" action="/users/delete/<%= user._id %>" method="post">
                                <input type="submit" class="btn btn-danger mx-auto" value="Delete Profile">
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <% } else { %>
            <div class="row">
                <div class="col-md-12">
                    <div>Welcome, <%= user.firstname %></div>
                    <p>Please setup your profile and add some information</p>
                    <form class="col-md-8 m-auto text-center" action="/profile/save/<%= user._id %>" method="get">
                        <input type="submit" class="btn-create-profile mx-auto" value="Create Profile">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            
        <% } %>
    </div>

    <footer class="footer mt-auto bg-dark p-4 text-center" role="footer">
        <div class="container">
            <span class="text-white">Copyright © 2020 Profiles.com</span>
        </div>
    </footer>
</body>
</html>